<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:'User Edit'}) %>

  <body>
    <%- include('./partials/header',{position:"relative"}) %>

      <main class="my-5">
        <div class="container">

          <form class="row col-5 m-auto mt-4" action="/update/<%= user.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">

            <div class="row col-12 m-auto">
              <img class="col-6 img-avatar" src="<%= /http/.test(user.avatar) ? user.avatar : " /images/avatars/" +
                user.avatar %>" alt="--">
              <img class="col-6 img-avatar" src="<%= /http/.test(user.gallery) ? user.gallery : " /images/avatars/" +
                user.gallery %>" alt="--">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email" disabled value="<%= user.email %>">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" disabled value="<%= user.password %>">
            </div>
            <div class="mb-3 col-6">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="first_name" value="<%= user.first_name %>">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" name="last_name" value="<%= user.last_name %>">
            </div>
            <div class="mb-3 col-6">
              <label class="form-label">Genero</label>
              <input type="text" class="form-control" name="gender" value="<%= user.gender %>">
            </div>


            <div class="mb-3 col-6">
              <label class="form-label">Dirección</label>
              <input type="text" class="form-control" name="address" value="<%= user.address %>">
            </div>
            <div class="mb-3 col-12">
              <div class="form-group my-3">
                <label class="form-label">Avatar</label>
                <input type="text" class="form-control" name="avatarText" placeholder="Ingresa una url valida de imagen" id="avatar-input-url"
                  value="<%= /http/.test(user.avatar) ? user.avatar :'' %>">
              </div>
              <div class="form-group my-3">
                <img src="<%= /http/.test(user.avatar) ? user.avatar : "/images/avatars/" + user.avatar %>"
                id="img-avatar" alt="" class="img-avatar">
                <input type="file" class="form-control" name="avatar" id="avatar-input">
                <output class="d-block text-end text-dark">
                  <%= user.avatar %>
                </output>
              </div>
              <div class="form-group my-3">
                <label class="form-label">Gallery</label>
                <img src="<%= /http/.test(user.gallery) ? user.gallery : " /images/avatars/" + user.gallery %>"
                id="img-gallery" alt="" class="img-gallery">
                <input type="file" class="form-control" name="gallery" id="gallery-input">
                <output class="d-block text-end text-dark">
                  <%= user.gallery %>
                </output>
              </div>
            </div>
            <div class="mb-3 col-6 offset-4">
              <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
          </form>
        </div>
      </main>
  </body>

</html>