<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:'User Edit'}) %>

  <body>
    <%- include('./partials/header',{position:"relative"}) %>

      <main class="my-5">
        <div class="container">

          <form class="row col-6 m-auto mt-4" action="/update/<%= user.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">

            <div class="row col-12 m-auto">
              <img class="col-6 img-avatar" src="<%= /http/.test(user.avatar) ? user.avatar : " /images/avatars/" +
                user.avatar %>" alt="--">
              <% if(user.gallery){ %>
                <img class="col-6 img-avatar" src="<%= /http/.test(user.gallery) ? user.gallery : " /images/avatars/" +
                  user.gallery %>" alt="--">
                <% } %>
            </div>

            <div class="mb-3 col-6">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email" disabled value="<%= user.email %>">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" disabled value="<%= user.password %>">
            </div>
            <div class="mb-3 col-6">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="first_name" value="<%= user.first_name %>">
            </div>

            <div class="mb-3 col-6">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" name="last_name" value="<%= user.last_name %>">
            </div>
            <div class="mb-3 col-6">
              <label class="form-label">Genero</label>
              <input type="text" class="form-control" name="gender" value="<%= user.gender %>">
            </div>


            <div class="mb-3 col-6">
              <label class="form-label">Dirección</label>
              <input type="text" class="form-control" name="address" value="<%= user.address %>">
            </div>
            <div class="mb-3 col-12">
              <hr>
              <h3 class="mt-5 text-center">Avatar</h3>

              <div class="form-floating my-3">
                <input type="text" class="form-control" name="avatarText" placeholder="Ingresa una url valida de imagen"
                  id="avatar-input-url" value="<%= /http/.test(user.avatar) ? user.avatar :'' %>">
                <label class="">Ingresa una url valida de imagen</label>
              </div>

              <div class="form-group my-3">
                <div class="text-end">
                  <img src="<%= /http/.test(user.avatar) ? user.avatar : " /images/avatars/" + user.avatar %>"
                  id="img-avatar" alt="" class="img-avatar">
                  <span class="btn btn-sm btn-outline-info" id="btn-reset-avatar">Reset Image</span>
                </div>
                <output class="d-block text-end">
                  <span class="text-primary">Old filename: </span>
                  <%= recut(user.avatar) %>
                </output>
                <input type="file" accept="image/*" class="form-control" name="avatar" id="avatar-input">
              </div>

              <div class="form-group my-3">
                <hr>
                <h3 class="mt-5 text-center">Gallery</h3>
                <div class="form-group">
                  <div class="text-end">
                    <img src="<%= user.gallery ? (/http/.test(user.gallery) ? user.gallery : " /images/avatars/" +
                      user.gallery) : "https://avalos.sv/wp-content/uploads/default-featured-image.png" %>"
                    id="img-gallery" alt="" class="img-gallery">
                    <span class="btn btn-sm btn-outline-info" id="btn-reset-gallery">Reset Image</span>
                  </div>
                  <output class="d-block text-end">
                    <span class="text-primary">Old filename: </span>
                    <%= recut(user.avatar) %>
                  </output>
                  <input type="file" accept="image/*" class="form-control" name="gallery" id="gallery-input">
                </div>

              </div>
            </div>
            <div class="mb-3 col-6 offset-4">
              <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
          </form>
        </div>
      </main>
  </body>

</html>